<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Google Test" data-provider-thread-count="4" parallel="methods" thread-count="4">
 
<test name="Regression Testing">
 <parameter name="browser" value="chrome"></parameter>
  <parameter name="Node Url" value="http://hemanthip:5555/wd/hub"></parameter>
    <classes>
        <class name="org.google.modules.SearchModuleTest" ></class>
    </classes>
</test>
 
 <!--  <test name="Test2">
 <parameter name="Browser" value="chrome"></parameter>
  <parameter name="Node Url" value="http://hemanthip:4567/wd/hub"></parameter>
    <classes>
        <class name="org.google.modules.TC03" ></class>
        <class name="org.google.modules.TC04" ></class>
    </classes>
</test> -->

</suite>
